

.mainContainer {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 84px); 
    background: #f9f9f9; 
}

.sidebar {
    flex: 0 0 290px; 
    height: 100%;
    background: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}

.content {
    flex: 1;
    padding: 20px; 
    overflow-y: auto; 
    background: #fff; 
}
